@font-face {
  font-family: "iconfont"; /* Project id 3830594 */
  src: url('iconfont.woff2?t=1676029670863') format('woff2'),
       url('iconfont.woff?t=1676029670863') format('woff'),
       url('iconfont.ttf?t=1676029670863') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoyouxi:before {
  content: "\e617";
}

.icon-zhuanyezhishijineng:before {
  content: "\e7b6";
}

.icon-zhishi:before {
  content: "\e813";
}

.icon-mingrentang:before {
  content: "\e6dd";
}

.icon-cainixihuan:before {
  content: "\e652";
}

.icon-shuxue:before {
  content: "\e63e";
}

.icon-xiangxia2:before {
  content: "\e772";
}

.icon-xiangshang:before {
  content: "\e600";
}

.icon-zonghewendang:before {
  content: "\e642";
}

.icon-fenshijuan:before {
  content: "\e654";
}

.icon-shiziduiwu1:before {
  content: "\e6cc";
}

.icon-shouye:before {
  content: "\e639";
}

.icon-ketangdayi:before {
  content: "\e606";
}

.icon-ketang:before {
  content: "\e67e";
}

.icon-ziyuan:before {
  content: "\e614";
}

.icon-xianxiahuodong:before {
  content: "\e634";
}

.icon-ketang1:before {
  content: "\ecab";
}

.icon-tuijian:before {
  content: "\e6fa";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-weixin:before {
  content: "\e8bb";
}

